<header id="header" role="banner">
  <section id="header-full" class="clearfix">
    <div class="container">
      <div id="headerinfo" class="collapse">
        <div class="logo logo-full pull-left">
          <a href="{{ path('<front>') }}" title="Главная" rel="home">
            <img src="/{{ active_theme_path() }}/logo.png" alt="Главная" />
          </a>
        </div>
        {{ page.header }}
        {{ page.user }}
        {{ page.menu_top }}
      </div>
      <div id="headersmall" class="nav-togglers hidden-sm-up">
        <span class="small-logo">Dru.io</span>
        {% include directory ~ '/templates/layout/nav-togglers.html.twig' %}
      </div>
      <div id="headermain" class="collapse">
        {{ page.menu_main }}
      </div>
    </div>
  </section>
</header>
