{#
.col-xs- <544px Extra small
.col-sm- ≥544px Small 576px
.col-md- ≥768px Medium 720px
.col-lg- ≥992px Large 940px
.col-xl- ≥1200px Extra large 1140px
Gutter width	1.875rem / 30px (15px on each side of a column)
#}
{{ attach_library('dru/dru.faicons') }}
{{ attach_library('dru/dru.layout') }}
{{ attach_library('dru/dru.theme') }}
{{ attach_library('dru/dru.base') }}

<div class="page-wrapper">

  {% include directory ~ '/templates/layout/header.html.twig' %}

  <section id="sys">
    <div class="container">
      <div class="row">
        <div class="height-0 col-md-12">
          {{ page.tabs }}
          {{ page.messages }}
        </div>
      </div>
    </div>
  </section>

  {% if page.slider|render %}
  <section id="slider">
    {{ page.slider }}
  </section>
  {% endif %}

  {% if lp %}
    {{ page.content }}
  {% else %}
    <section id="main">
      <div class="container">
        <div class="row" id="main-content">
          {% set main_class = 'col-md-12' %}
          {% if page.sidebar|render %}
             {% set main_class = 'col-md-8' %}
             <div class="col-md-4" id="sidebar">
               {{ page.sidebar }}
             </div>
          {% endif %}
          <div class="{{ main_class }}" id="content-area">
            {{ page.breadcrumb }}
            {{ page.title }}
            {{ page.content }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% include directory ~ '/templates/layout/footer.html.twig' %}

</div>
{{ page.bottom }}

{#
/**
 * @file
 * Syanpse dru theme.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * @see dru.info.yml
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
