<section{{ attributes.addClass('comments') }}>
  {{ comments }}
  <a href="/comment/reply/{{ entity_type }}/{{ element['#object'].id }}/{{ field_name }}/" class="add-comment">Добавить комментарий</a>
</section>
