<div class="druio-author-min">
  <a href="{{ url }}" class="link">
    {% if avatar %}
      <img src="{{ avatar }}" alt="Аватар пользователя {{ username }}" class="avatar">
    {% endif %}
    <span class="username" title="{{ username }}">{{ username }}</span>
  </a>
</div>