{%
  set classes = [
    'node',
    node.isPromoted() ? 'promoted',
    node.isSticky() ? 'sticky',
    not node.isPublished() ? 'unpublished',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'view-mode--' ~ view_mode|clean_class,
  ]
%}
{#
  // @todo complete it.
#}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  <div class="rating">
    <div class="count">27</div>
    <div class="value">Рейтинг</div>
  </div>

  <div class="answers">
    <div class="count">{{ answers_count }}</div>
    <div class="value">
      {% trans %}
        Answer
      {% plural answers_count %}
        Answers
      {% endtrans %}
    </div>
  </div>

  <div class="content">
    <h2 class="title"><a href="{{ url }}">{{ label }}</a></h2>
    <div class="info">
      <div class="meta">
        {{ content.druio_question_meta }}
      </div>

      <div class="author-and-date">
        {{ content.druio_author_min }}
        <div class="created">Последний ответ: {{ content.druio_theme_created_relative }}</div>
      </div>
    </div>
  </div>
</article>