{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 */
#}

<div id="app">
  <div class="region--top-line">
    <div class="container">
      <div class="static-menu">
        <a href="/tracker" class="item tracker">Трекер</a>
        <a href="https://github.com/dru-io/Dru.io" target="_blank" rel="nofollow" class="item github">GitHub</a>
        <a href="/chat" class="item chat">Чат</a>
      </div>
      {{ top_line_auth }}
      {{ top_line_search }}
    </div>
  </div>
  {{ page.header }}

  <main id="main">
    <div class="content-and-sidebars">
      {{ page.content }}
      {{ page.sidebar_right }}
    </div>
  </main>

  {{ page.footer }}
</div>
