{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 */
#}

<div id="app">
  <div class="region region--top-line">
    <div class="region__container">
      <div class="static-menu">
        <a href="/tracker" class="static-menu__item static-menu__item--tracker">Трекер</a>
        <a href="https://github.com/dru-io/Dru.io" target="_blank" rel="nofollow" class="static-menu__item static-menu__item--github">GitHub</a>
        <a href="/chat" class="static-menu__item static-menu__item--chat">Чат</a>
      </div>
      {{ top_line_auth }}
      {{ top_line_search }}
    </div>
  </div>
  {{ page.header }}
  <main id="main">
    {{ page.content_top }}
    <div class="content-and-sidebars">
      {{ page.content }}
      {{ page.sidebar_right }}
    </div>
    {{ page.content_bottom }}
  </main>

  {{ page.footer }}
</div>
